.maha_container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main_container {
  background: #000000;
  background: linear-gradient(
    359deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 48%,
    rgb(36, 37, 38) 100%
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.container_bg {
  width: 800px;
  background-color: #121212;
  padding: 5rem;
  border-radius: 1rem;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 360px;
}

.logo {
  font-size: 48px;
  margin-bottom: 20px;
}

.heading {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  padding: 12px;
  border-radius: 4px;
  border: 1px white;
  font-size: 14px;
  background-color: #222;
  color: white;
}

input::placeholder {
  color: #999;
}

.next_btn {
  padding: 12px;
  background-color: #1ed760;
  color: black;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #888;
  margin: 20px 0;
}

.divider hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: #333;
}

.social_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social_buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  border: 1px solid #555;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.google_btn img {
  height: 20px;
}

.git_btn {
  font-size: 20px;
}

.login_link {
  margin-top: 25px;
  font-size: 14px;
}

.login_link a {
  color: #1ed760;
  text-decoration: none;
}

footer {
  font-size: 11px;
  color: #777;
  margin-top: 40px;
}

footer a {
  color: #999;
  text-decoration: underline;
}
