* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-toast {
  position: fixed !important;
  top: 1rem !important;
  right: 1rem !important;
  left: auto !important;
  transform: none !important;
  z-index: 1099; /* Optional: Ensure it appears on top */
}

body {
  background-color: rgb(0, 0, 0);
}
